---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import Comment from "@components/comment/index.astro";

const messagePost = await getEntry("spec", "message");

if (!messagePost) {
  throw new Error("Message page content not found");
}

const { Content } = await render(messagePost);
---
<MainGridLayout title={i18n(I18nKey.message)} description={i18n(I18nKey.message)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
            
            <Comment post={i18n(I18nKey.message)}></Comment>
        </div>
    </div>
</MainGridLayout>
